.card-section{
    display: flex;
    gap: 2rem;

}
.service{
    padding: 5rem 0;
}
.card article{
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    height: 22rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: 10px solid #FFD39A;
    border-radius: 10px;
}
.card article h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card article img{
    transform: scale(.8);
}
.card article p{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.learn-btn{
    padding: 10px 24px;
    border: 2px solid #FFD39A;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.card:nth-child(1){
  position: absolute;
  top: 9rem;
  left: -3rem;
}
.card:nth-child(2){
    position: absolute;
    top: 0;
    left: 15rem;
  }
  .card:nth-child(3){
    position: absolute;
    top: 24rem;
    right: 0;
  }

  @media (max-width:780px){
    .service{
        margin-top: 16rem;
        padding: 0 !important;
    }

    .card{
        position: relative !important;
        flex: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }
    .card article {
        width: 100%;
        
    }
    .card-section {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }