.row{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left,.right{
    flex: 1;
    position: relative;
}
.h-content {
    padding: 4rem 0;
    position: relative;
}
.h-content h2{
    color: #FEDB39;
}
.h-content h3,.h-content h2{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.5;
}
.h-content p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}
.h-content img{
    position: absolute;
  
}
.h-content img:nth-child(1){
    left: 0%;
 
    transform: scale(.67);
}
.h-content img:nth-child(2){
    left: -20%;
   
    transform: scale(.67);
    z-index:0;
}
.h-content img:nth-child(3){
    transform: scale(1.1);
    left:1rem;
   
}
.h-content img:nth-child(4){
    transform: scale(1.1);
    left:-15rem;
    transform: scale(.67);
}
.icon img{
    transform: scale(.6);
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .left,.right{
        flex: 100% !important;
    }
    .h-content h3,.h-content h2{
        font-size: 3rem;
    }
    .flex:nth-child(2) {
        top: 26rem;
        left: 0rem;
        z-index: 2;
    }
    .flex:nth-child(1) {
        right: 0px;
        z-index: 0;
        top: 19rem;
    }
    .h-content img:nth-child(2) {
        left: -8%;
        transform: scale(.67);
        z-index: 0;
    }
    .h-content img:nth-child(3) {
        transform: scale(1);
        left: 0;
    }
}

section{
    padding: 5rem 0;
}
